* {
    margin-top: 0;
    margin-bottom: 0;
}

body {
    font-family: sans-serif;
}

p {
    white-space: pre-line;
}

.logo {
    background-image: url('logo.svg');
    width: 300px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
}